.legend {
	display: flex;
	align-items: center;
	gap: 10px;
}

.list {
	display: flex;
	align-items: center;
	gap: 2px;
}

.item {
	list-style: none;
}

.text {
	font-size: 0.5rem;
}

.popover__text {
	text-align: center;
	color: var(--white);
}